<c-sidebar #sidebar="cSidebar" 
           class="d-print-none sidebar sidebar-fixed" 
           id="sidebar" 
           visible>
    <c-sidebar-brand [brandFull]="{
      src: 'assets/img/brand/coreui-angular.svg',
      width: 200,
      height: 46,
      alt: 'CoreUI Logo'
    }" [brandNarrow]="{
      src: 'assets/img/brand/coreui-signet-white.svg',
      width: 46,
      height: 46,
      alt: 'CoreUI Logo'
    }" routerLink="/">
    </c-sidebar-brand>
    <perfect-scrollbar [config]="perfectScrollbarConfig">

        <c-sidebar-nav [navItems]="navItems">
        </c-sidebar-nav>
    </perfect-scrollbar>
    <c-sidebar-toggler *ngIf="!sidebar.narrow" toggle="unfoldable" cSidebarToggle="sidebar"></c-sidebar-toggler>
</c-sidebar>

<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
    <util-load-bar [loaded]="app_loadert_service.loaded" 
                    [show_progress]="app_loadert_service.show_progress"></util-load-bar>
    <core-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar"></core-default-header>


    <div class="body flex-grow-1 px-3">
        <c-container breakpoint="lg" class="h-auto">
            <router-outlet></router-outlet>
        </c-container>
    </div>

    <core-default-footer></core-default-footer>
</div>