.page-title {
    padding: 30px 0 70px 0;
}

.t {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    
}


.bc {
    font-weight: 600;
    color: #fff;
}

.bc span {
    cursor: pointer;
}
.bc span:not(:first-child)::before{
    content: " / ";
    color: #fff;
    font-weight: 700;
}


.bc span:last-child{
    color: #FDD200;
    cursor: unset;
}
